*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/hero.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}